@import url("base.css");
@import url("variables.css");
header {
	background-color: var(--base-white-color);
	display: flex;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--primary-color);

	.nav-links {
		display: flex;
		gap: 50px;
		padding: 0 20px;
		h3 {
			color: var(--base-white-color);
		}
	}
	.social-media {
		margin-left: auto;
		display: flex;
		gap: 20px;
		padding-right: 20px;
		a {
			color: var(--base-white-color);
		}
	}
}

.logo {
	background-color: var(--primary-color-700);
	width: 75px;
	height: 75px;
}

.hero {
	height: 600px;
	.description {
		background-color: var(--primary-color-500);
		padding: 90px;
		display: flex;
		flex-direction: column;

		button {
			margin-top: auto;
			align-self: flex-end;
		}
	}
}
.product-page {
	.product-img {
		height: 600px;
	}
	.product-info {
		background-color: var(--base-white-color);
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		p {
			font: var(--p-lg-web);
		}

		.buttons {
			margin-top: auto;
			align-self: flex-end;
			gap: 16px;
		}
	}
	.reviews {
		h2 {
			margin-bottom: 32px;
		}
		.grid-container {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 32px;
		}
	}
}
.signup,
.login,
.shipping_info,
.cart {
	h1 {
		margin-top: 32px;
	}
	.form {
		min-width: 512px;
		max-width: 768px;
		width: fit-content;
		min-height: 512px;
		border-radius: 10px;
		padding: 8px 64px;
		background-color: var(--primary-color-500);
		margin: 64px auto;
		grid-template-columns: 1fr;
		button {
			height: fit-content;
			width: fit-content;
			margin: 0 16px 0 auto;
		}
	}
	lable {
		font: var(--h2-web);
		color: var(--base-white-color);
	}
	input {
		width: 90%;
		height: 48px;
		border-radius: 5px;
		border: none;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
		padding: 0 16px;
		font: var(--p-md-web);
		background-color: var(--base-white-color);
	}
}

.cart_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 32px;
}
.cart_list_img {
	max-width: 96px;
	min-height: 96px;
	background-color: rgb(201, 255, 93);
	border-radius: 5px 20px 5px 0px;
}
.cart_list_desc,
.cart_list_button {
	display: inline;
	background-color: var(--base-white-color);
	padding: 10px;
	border-radius: 5px;
	span {
		display: flex; /* Enable Flexbox for the description */
		flex-direction: column; /* Stack spans vertically */
		gap: 8px; /* Add spacing between spans */
	}
}
.cart_list_button {
	height: 72px;
}
.cart_list_container {
	display: flex;
	gap: 16px;
	align-items: center;
}
.cart_summary {
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		justify-content: flex-start;
	}
	button {
		justify-content: flex-end;
	}
}

.checkout {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	section {
		margin: 0;
	}
}
.shipping_info_list {
	.grid-item {
		height: 96px;
	}
	button.grid-item {
		margin: 16px 16px 16px auto;
	}
}
